body {
    background-color: white;
    background-image: url("http://i.cdn.turner.com/v5cache/TNT/images/series/franklinandbash/franklinandbash_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px 5px black;
}

#logo {
    margin-left: 30px;
}

#banner {
    height: 210px;
    /*border-bottom: 20px;*/
    /*border-bottom-color: #333333;*/
    border-top: 20px;
    border-top-color: #333333;
    background-image: url("http://i.cdn.turner.com/v5cache/TNT/Images/i84/fb_hdr_btsstrangebrew2_1000x250.jpg");
    padding-top: 40px;
    padding-left: 40px;
}

#banner > h1 {
    color: #005BD0;
    font-size: 45px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

#banner > h2 {
    font-size: 18px
}

/*for navigation menu*/
/*because "#topmenu > a {" does not work*/
/*#topmenu > a {
    text-decoration: none;
    color: white;
}*/

a {
    color: white;
    text-decoration: none;
}

#banner > a {
    color: #005BD0;
    font-weight: bold;
    text-decoration: none;
}

#banner > a:visited {
    color: #999999;
}

#topmenu {
    background-color: #333333;
    overflow: auto;
}

#topmenu > ul {
    padding: 0px;
    margin: 0px;
}

#topmenu > li {
    float: left;
    height: 30px;
    margin-left: 20px;
    list-style-type: none;
    font-weight: bold;
}

article {
    padding: 15px;
    background-color: white;
}

aside {
    width: 300px;
    float: right;
}

aside > h3 {
    color: #005BD0;
    font-size: 14px;

}

aside > h2 {
    color: #8F866A;
}

#legal-advice, #man-cave {
    height: 100px;
    background-position: center;
}

#legal-advice {
    background-image: url("http://i.cdn.turner.com/v5cache/TNT/Images/i82/fb_explore_notsolegal_300x169.jpg");
}

#man-cave {
    background-image: url("http://i.cdn.turner.com/v5cache/TNT/Images/i82/fb_explore_mancave_300x169.jpg");
}

div.chapter {
    margin-right: 310px;
}

footer {
    width: 1000px;
    background-color: #999999;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    margin-right: auto;
    margin-left: auto;
    border-top: double;
    border-top-color: #555;
    border-top-width: 3px;
}

footer > p {
    margin: 0px;
    padding: 0px;
}