body {
    background-color: white;
    background-image: url("http://i.cdn.turner.com/v5cache/TNT/images/series/franklinandbash/franklinandbash_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 20px 0px 20px 0px black;
}

#logo {
    margin-left: 30px;
}

#banner {
    height: 210px;
    border-bottom: 20px;
    border-bottom-color: 20% grey;
    background-image: url("http://i.cdn.turner.com/v5cache/TNT/Images/i84/fb_hdr_btsstrangebrew2_1000x250.jpg");
    padding-top: 40px;
    padding-left: 40px;
}

#banner > h1 {
    color: #005BD0;
    font-size: 45px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

#banner > h2 {
    font-size: 18px
}

#banner > a {
    color: #005BD0;
    font-weight: bold;
    text-decoration: none;
}

#banner > a:visited {
    color: #999999;
}

footer {
    width: 1000px;
    background-color: #999999;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    margin-right: auto;
    margin-left: auto;
    border-top: double;
    border-top-color: #555;
    border-top-width: 3px;
}

footer > p {
    margin: 0px;
    padding: 0px;
}