body {
    background-color: white;
    background-image: url("http://i.cdn.turner.com/v5cache/TNT/images/series/franklinandbash/franklinandbash_background.jpg");
    background-repeat: no-repeat;
    /*background-size: 95%;*/
    background-attachment: fixed;
    background-position: center center;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#main {
    color: red;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 20px 0px 20px 0px black;
}

footer {
    /*color: green;*/
    width: 1000px;
    background-color: #999999;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    margin-right: auto;
    margin-left: auto;
    border-top: double;
    border-top-color: #555;
    border-top-width: 3px;
}

footer > p {
    /*color: green;*/
    margin: 0px;
    padding: 0px;

}